.page-content{
  background-image:url(../images/patron.png);
  background-repeat: repeat;
  
}



img.demo-lazy {
    width: 100%;
    height: auto;
    display: block;
  }
  div.demo-lazy {
    background: #aaa;
    background-size: cover;
    height: 60vw;
  }
  .tourinfo p{
    font-family: 'Jost', sans-serif;
    font-weight: normal;

  }
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 100%;
}
.swiper-slide{
    background-image:url(../images/patron.png);
  background-repeat: repeat;
}
.swiper-slide img{
    margin-left: 45px;
}
.swiper-slide h1{
    color: #050529;
    font-size: 30px;
    display: block;
    text-align: left;
    padding: 90px 90px 20px;
}
.swiper-slide p {
    padding: 0 90px ;
    text-align: left;
    font-size: 22px;
}
.botonpopupc{
    text-align: center;
    margin-top: 60%;
}
.botonprincipal{
    border-radius: 10px;
    padding: 20px;
    background-color: lightgray;
    margin: 10px 40px 15px ;
}
