.page-content{
    background-image:url(../images/patron.png);
    background-repeat: repeat;
  }
  .demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
  }
  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
  }
  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 100%;
  }
  .swiper-slide{
      background-image:url(../images/patron.png);
    background-repeat: repeat;
  }
  .swiper-slide img{
      margin-left: 45px;
  }
  .swiper-slide h1{
      color: #050529;
      font-size: 30px;
      display: block;
      text-align: left;
      padding: 90px 90px 20px;
  }
  .swiper-slide p {
      padding: 0 90px ;
      text-align: left;
      font-size: 22px;
  }
  .botonpopupc{
      text-align: center;
      margin-top: 60%;
  }
  
  .barracolor{
      background-color: #031926;
  }
  .right{
      color: white;
      margin-right: 25px;

  }
  .block h2{
      color: #031926;
      font-size: 23px;
      margin-left: 10px;
  }
  .block img{
      width: 100%;
  }
  .botonprincipal{
      border-radius: 10px;
      padding: 20px;
      background-color: lightgray;
      margin: 10px 40px 15px ;
  }

  /*ESTILOS VELASQUEZ*/
  .barra-sup{
      background-color:#ed5c05;
  }
  .barra-sup-hospedarse{
      background-color: #7c0f0f;
  }
  .barra-down{
      background-color: #eccb0f;
  }
  .toolbar-inner{
     padding: 0 30px;
      color: aqua;
  }
  .toolbar-inner a{
      color: white;
      font-size: 1.5em;
  }
  .list.links-list, .list.accordion-list{
      margin:0;
  }
  .list.links-list{
      border-bottom: none;
  }
  .panel.panel-left.panel-reveal.panel-resizable.panel-init{
       background-color:#eccb0f;
  }
  .list, .links-list ul{
      background-color:#eccb0f;

  }
  .list, .links-list li{
      font-family: 'Jost', sans-serif;
      font-size: 17px
  }
  .list, .accordion-list ul{
      background-color:#eccb0f
  }
  .list, .accordion-list li{
      font-family: 'Jost', sans-serif;
      color: #031926
  }
  .accordion-item-content a{
      text-decoration: none;
      color: #031926;
      font-size: 15px;
      margin-left: 20px;
      border-bottom: 1px solid black;
  }
  .left a{
      color: white;
      margin-left: 25px;
      font-size: 1.2em;
  }
  .page-content{
      background-image:url(../images/patron.png);
  }
  .texto1-rest{
      padding: 0 20px
  }
  .right{
      color: white;
      margin-right: 25px;

  }
  .block h2{
      color: #031926;
      font-size: 23px;
      margin-left: 10px;
  }
  .block img{
      width: 100%;
  }
  .botonprincipal{
      border-radius: 10px;
      padding: 20px;
      background-color: lightgray;
      margin: 10px 40px 15px ;
  }

  /*ESTILOS VELASQUEZ*/
  .barra-sup{
      background-color:#ed5c05;
  }
  .barra-sup-hospedarse{
      background-color: #7c0f0f;
  }
  .barra-down{
      background-color: #eccb0f;
  }
  .toolbar-inner{
     padding: 0 30px;
      color: aqua;
  }
  .toolbar-inner a{
      color: white;
      font-size: 1.5em;
  }
  .list.links-list, .list.accordion-list{
      margin:0;
  }
  .list.links-list{
      border-bottom: none;
  }
  .panel.panel-left.panel-reveal.panel-resizable.panel-init{
       background-color:#eccb0f;
  }
  .list, .links-list ul{
      background-color:#eccb0f;

  }
  .list, .links-list li{
      font-family: 'Jost', sans-serif;
      font-size: 17px
  }
  .list, .accordion-list ul{
      background-color:#eccb0f
  }
  .list, .accordion-list li{
      font-family: 'Jost', sans-serif;
      color: #031926
  }
  .accordion-item-content a{
      text-decoration: none;
      color: #031926;
      font-size: 15px;
      margin-left: 20px;
      border-bottom: 1px solid black;
  }
  .left a{
      color: white;
      margin-left: 25px;
      font-size: 1.2em;
  }
  .page-content{
      background-image:url(../images/patron.png);
  }
  .texto1-rest{
      padding: 0 20px
  }
  .titulo-principal{
       font-family: 'Jost', sans-serif;
      color: #031926;
      margin-bottom: 0;
  }
  .bo img{
  width: 50px;
  }
  .parra-principal{
      color: #031926;
      text-align: left;
       font-size: 16px;
      font-family: 'Jost', sans-serif;
  }
  .img{
      width: 100%;
      display: block;
  }
  /*ESTILOS RESTAURANTES*/
  .sub-rest{
      font-family: 'Jost', sans-serif;
      margin-top: 0;
  }
  .col.button.button-large{
      width: 100%;
      padding: 8px;
      background-color: #e8e3e3;
      border-radius: 50px;
  }
  .col.button.button-large a{
      text-decoration: none;
      color: #031926;
      font-size: 13px;

  }
  .titulo-principal2{
      font-family: 'Jost', sans-serif;
      color: #031926;
      padding: 15px;
      font-size: 20px
  }

  /*FOTOS CARTAS EXPANDIBLES RESTAURANTES*/
  .tres-img-1{
      background-image: url(../images/pizza-candelaria2.png);
  }
  .tres-img-2{
      background-image: url(../images/rusticafix.png);
  }
  .tres-img-3{
      background-image: url(../images/lamolina.png);
  }
  .tres-img-4{
      background-image: url(../images/qun.png);
  }
  .cuatro-img-1{
      background-image: url(../images/galenos.png);
  }
  .cuatro-img-2{
      background-image: url(../images/serrata.png);
  }
  .cuatro-img-3{
      background-image: url(../images/el-mono-bandidofix.png);
  }
  .cuatro-img-4{
      background-image: url(../images/galgohotdogs.png);
  }
  .cinco-img-1{
      background-image: url(../images/ushini.png);
  }
  .cinco-img-2{
      background-image: url(../images/capitalino.png);
  }
  .cinco-img-3{
      background-image: url(../images/flambee.png);
  }
  .cinco-img-4{
      background-image: url(../images/inkas.png);
  }
  /*FOTOS CARTAS EXPANDIBLES HOTELES*/
  .treshot-1{
      background-image: url(../images/ayenda.png);
  }
  .treshot-2{
      background-image: url(../images/hotel-comic-city.png);
  }
  .treshot-3{
      background-image: url(../images/embassy.png);
  }
  .treshot-4{
      background-image: url(../images/goldentower.png);
  }
  /*
  .card-content-padding .tituloscartas {
      font-family: 'Jost', sans-serif;
      color: #031926;
      font-size: 18px;
  }
  .card-content-padding p{
      font-family: 'Jost', sans-serif;
      color: #031926;
      font-size: 16px;

  }


  .card-content img{
      width: 100%;

  }*/

  /*estilos titulos de las paginas*/
  .navbar-inner.barra-sup .title{
      color: white;
      font-family: 'Jost', sans-serif;
  }

  /*ESTILOS CASTRO*/
  .bo img{
  width: 50px;
  }
  .parra-principal{
      color: #031926;
      text-align: left;
       font-size: 16px;
      font-family: 'Jost', sans-serif;
  }
  .img{
      width: 100%;
      display: block;
  }
  /*ESTILOS RESTAURANTES*/
  .sub-rest{
      font-family: 'Jost', sans-serif;
      margin-top: 0;
  }
  .col.button.button-large{
      width: 100%;
      padding: 8px;
      background-color: #e8e3e3;
      border-radius: 50px;
  }
  .col.button.button-large a{
      text-decoration: none;
      color: #031926;
      font-size: 13px;

  }
  .titulo-principal2{
      font-family: 'Jost', sans-serif;
      color: #031926;
      padding: 15px;
      font-size: 20px
  }

  /*FOTOS CARTAS EXPANDIBLES RESTAURANTES*/
  .tres-img-1{
      background-image: url(../images/pizza-candelaria2.png);
  }
  .tres-img-2{
      background-image: url(../images/rusticafix.png);
  }
  .tres-img-3{
      background-image: url(../images/lamolina.png);
  }
  .tres-img-4{
      background-image: url(../images/qun.png);
  }
  .cuatro-img-1{
      background-image: url(../images/galenos.png);
  }
  .cuatro-img-2{
      background-image: url(../images/serrata.png);
  }
  .cuatro-img-3{
      background-image: url(../images/el-mono-bandidofix.png);
  }
  .cuatro-img-4{
      background-image: url(../images/galgohotdogs.png);
  }
  .cinco-img-1{
      background-image: url(../images/ushini.png);
  }
  .cinco-img-2{
      background-image: url(../images/capitalino.png);
  }
  .cinco-img-3{
      background-image: url(../images/flambee.png);
  }
  .cinco-img-4{
      background-image: url(../images/inkas.png);
  }
  /*FOTOS CARTAS EXPANDIBLES HOTELES*/
  .treshot-1{
      background-image: url(../images/ayenda.png);
  }
  .treshot-2{
      background-image: url(../images/hotel-comic-city.png);
  }
  .treshot-3{
      background-image: url(../images/embassy.png);
  }
  .treshot-4{
      background-image: url(../images/goldentower.png);
  }
  /*
  .card-content-padding .tituloscartas {
      font-family: 'Jost', sans-serif;
      color: #031926;
      font-size: 18px;
  }
  .card-content-padding p{
      font-family: 'Jost', sans-serif;
      color: #031926;
      font-size: 16px;

  }


  .card-content img{
      width: 100%;

  }*/

  /*estilos titulos de las paginas*/
  .navbar-inner.barra-sup .title{
      color: white;
      font-family: 'Jost', sans-serif;
  }

  /*ESTILOS CASTRO*/
.barra-supmafec {
    background-color:#f20530;
}
.navbar-inner.barra-supmafec .title{
    color: white;
    font-family: 'Jost', sans-serif;
}
.tourtitulo {
    color:#031926;
    font-weight: bold;
    widows: 55px;
    margin:0px 20px;
    font-size: 18px;
    width: 60%;
}
.tourinfo{
    width: 90%;
    margin:auto;
    margin-bottom:20px;
}
img.demo-lazy {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
/*ESTILOS RESTAURANTES*/
.sub-rest{
    font-family: 'Jost', sans-serif;
    margin-top: 0;
}
.col.button.button-large{
    width: 100%;
    padding: 8px;
    background-color: #e8e3e3;
    border-radius: 50px;
}
.col.button.button-large a{
    text-decoration: none;
    color: #031926;
    font-size: 13px;

}
.titulo-principal2{
    font-family: 'Jost', sans-serif;
    color: #031926;
    padding: 15px;
    font-size: 20px
}

/*FOTOS CARTAS EXPANDIBLES RESTAURANTES*/
.tres-img-1{
    background-image: url(../images/pizza-candelaria2.png);
}
.tres-img-2{
    background-image: url(../images/rusticafix.png);
}
.tres-img-3{
    background-image: url(../images/lamolina.png);
}
.tres-img-4{
    background-image: url(../images/qun.png);
}
.cuatro-img-1{
    background-image: url(../images/galenos.png);
}
.cuatro-img-2{
    background-image: url(../images/serrata.png);
}
.cuatro-img-3{
    background-image: url(../images/el-mono-bandidofix.png);
}
.cuatro-img-4{
    background-image: url(../images/galgohotdogs.png);
}
.cinco-img-1{
    background-image: url(../images/ushini.png);
}
.cinco-img-2{
    background-image: url(../images/capitalino.png);
}
.cinco-img-3{
    background-image: url(../images/flambee.png);
}
.cinco-img-4{
    background-image: url(../images/inkas.png);
}
/*FOTOS CARTAS EXPANDIBLES HOTELES*/
.treshot-1{
    background-image: url(../images/ayenda.png);
}
.treshot-2{
    background-image: url(../images/hotel-comic-city.png);
}
.treshot-3{
    background-image: url(../images/embassy.png);
}
.treshot-4{
    background-image: url(../images/goldentower.png);
}
.cuatrohot-1{
    background-image: url(../images/wynd.png);
}
.cuatrohot-2{
    background-image: url(../images/marriot.png);
}.cuatrohot-3{
    background-image: url(../images/hilton.png);
}.cuatrohot-4{
    background-image: url(../images/landcasterhouse2.png);
}
.cincohot-1{
    background-image: url(../images/casalegado.png);
}
.cincohot-2{
    background-image: url(../images/luxuryh.png);
}
.cincohot-3{
    background-image: url(../images/urban8010.png);
}
.cincohot-4{
    background-image: url(../images/salvio.png);
}
/*FOTOS CARTAS EXPANDIBLES VIDA NOCTURNA*/
.imgquever9{
    background-image: url(../images/zonat.png);
}
.imgquever10{
    background-image: url(../images/theatron.png);
}
.imgquever11{
    background-image: url(../images/armando.png);
}
.imgquever12{
    background-image: url(../images/video%20club%20bogota.png);
}
/*FOTOS CARTAS EXPANDIBLES COMPRAS*/

.imgquever13{
    background-image: url(../images/andino.png);
}
.imgquever14{
    background-image: url(../images/Santafe.png);
}
.imgquever15{
    background-image: url(../images/Unicentro.png);
}
.imgquever16{
    background-image: url(../images/Colina.png);
}
/*FOTOS CARTAS EXPANDIBLES AIRE LIBRE*/
.imgquever17{
    background-image: url(../images/parquesimonbolivar.png);
}
.imgquever18{
    background-image: url(../images/parquedelosnovios.png);
}
.imgquever19{
    background-image: url(../images/parquedela93.png);
}
.imgquever20{
    background-image: url(../images/parquenacional.png);
}
/*FOTOS CARTAS EXPANDIBLES ATRACCIONES*/
.imgquever21{
    background-image: url(../images/monserrate_teleferico.png);
}
.imgquever22{
    background-image: url(../images/planetario.png);
}
.imgquever23{
    background-image: url(../images/corferias.png);
}
.imgquever24{
    background-image: url(../images/chorro%20de%20quevedo.jpg);
}
/*FOTOS CARTAS EXPANDIBLES RUTAS*/
.imgquever25{
    background-image: url(../images/laseptima.png);
}
.imgquever26{
    background-image: url(../images/elembudo.png);
}
.imgquever27{
    background-image: url(../images/Jard%C2%B0n%20Botanico-2.png);
}
.imgquever28{
    background-image: url(../images/ciclovia.png);
}
/*
.card-content-padding .tituloscartas {
    font-family: 'Jost', sans-serif;
    color: #031926;
    font-size: 18px;
}
.card-content-padding p{
    font-family: 'Jost', sans-serif;
    color: #031926;
    font-size: 16px;

}


.card-content img{
    width: 100%;

}*/

/*estilos titulos de las paginas*/
.navbar-inner.barra-sup .title{
     color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
    width: 90%;
    font-weight: bolder;
    margin-right:10px;
}

.navbar-inner.barra-sup-hoteles .title{
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
    width: 90%;
    font-weight: bolder;
    margin-right:10px;}
